<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mario Carrion - {{ .Title }}</title>
  <meta name="author" content="Mario Carrion" />
  <meta name="description" content="The blog of Mario Carrion" />

  <!-- if page.id != nil 
    include twitter_card.html 
    include open_graph.html 
    endif -->

  <link rel="canonical" href="xx site.url xx xx page.url | replace:'index.html','' xx" />

  <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">

  <link rel="shortcut icon" href="/favicon.png">
  <!-- <link rel="alternate" type="application/rss+xml" title="xx site.data.theme.name xx" href="xx site.url xx/feed/" /> -->

  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
