{{ partial "header.html" . }}
<section class="main">
    <div class="container f04">
        <div class="content">
            <div class="num">404</div>
	    <div class="detail">{{ i18n "pageNotFound" }} Let's enjoy these gifs instead!</div>
	    <div class="detail"><img src="https://media.giphy.com/media/111ebonMs90YLu/giphy.gif"/></div>
	    <div class="detail"><img src="https://media.giphy.com/media/l1J9EBp9Dcd6jtsbu/giphy.gif"/></div>
	    <div class="detail"><img src="https://media.giphy.com/media/11VsEd5JKY68GA/giphy.gif"/></div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
